<!-- creditcard/templates/creditcard/index.html -->

{% extends 'creditcard/base.html' %}
{% load staticfiles %}

{% block body %}
    <header class="well page-header">
		<h3>Create/Validate of the credit card</h3>
	</header>
	<article>
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="text-right">
					{% include "creditcard/_comeBack.html" %}
				</div>
			</div>
	  		<div class="panel-body">
	  			<div class="alert alert-success" role="alert">...</div>
	  			<form action="POST">
					<div class="form-group">
						<label for="id_number">Number</label>
						<input type="text" class="form-control" id="id_number" name="number" placeholder="Number" value="">
					</div>
					<div class="form-group">
						<label for="id_file">File text</label>
						<input type="file" id="id_file" name="file">
						<p class="help-block">Upload a file txt with multiple numbers of credit card</p>
					</div>
				</form>
	  		</div>
	  		<div class="panel-footer">
				<div class="text-right">
					{% include "creditcard/_comeBack.html" %}
				</div>
			</div>
  		</div>
	</article>
	<footer>
	</footer>
{% endblock %}

{% block pageScripts %}
{% endblock pageScripts %}