<!-- creditcard/templates/creditcard/index.html -->

{% extends 'creditcard/base.html' %}
{% load staticfiles %}

{% block body %}
    <header class="well">
		<h3>Details of the credit card</h3>
	</header>
	<article>
		<form>
			<div class="form-group">
				<label for="id_number">Number</label>
				<input type="number" class="form-control disabled " id="id_number" placeholder="Number" readonly="readonly" disabled="disabled" value="{{ card.number }}">
			</div>
			<div class="form-group">
				<label for="id_number">Date Created</label>
				<input type="datetime" class="form-control disabled " id="id_number" placeholder="Number" readonly="readonly" disabled="disabled" value="{{ card.date_created }}">
			</div>
		</form>
	</article>
	<footer>
		<a href="/" class="btn btn-default">Came back</a>
	</footer>
{% endblock %}

{% block pageScripts %}
{% endblock pageScripts %}